################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/DemoWebShop/v15/Server/sqlite3
/.vs/DemoWebShop/v15
/CommonWeb/bin/Debug/WebDriver.xml
/CommonWeb/bin/Debug/WebDriver.Support.xml
/CommonWeb/bin/Debug/WebDriver.Support.dll
/CommonWeb/bin/Debug/WebDriver.dll
/CommonWeb/bin/Debug/UITests.Web.Common.pdb
/CommonWeb/bin/Debug/UITests.Web.Common.dll
/CommonWeb/bin/Debug/System.Xml.XPath.XDocument.dll
/CommonWeb/bin/Debug/System.Xml.XPath.dll
/CommonWeb/bin/Debug/System.Xml.XmlSerializer.dll
/CommonWeb/bin/Debug/System.Xml.XmlDocument.dll
/CommonWeb/bin/Debug/System.Xml.XDocument.dll
/CommonWeb/bin/Debug/System.Xml.ReaderWriter.dll
/CommonWeb/bin/Debug/System.ValueTuple.dll
/CommonWeb/bin/Debug/System.Threading.Timer.dll
/CommonWeb/bin/Debug/System.Threading.ThreadPool.dll
/CommonWeb/bin/Debug/System.Threading.Thread.dll
/CommonWeb/bin/Debug/System.Threading.Tasks.Parallel.dll
/CommonWeb/bin/Debug/System.Threading.Tasks.dll
/CommonWeb/bin/Debug/System.Threading.Overlapped.dll
/CommonWeb/bin/Debug/System.Threading.dll
/CommonWeb/bin/Debug/System.Text.RegularExpressions.dll
/CommonWeb/bin/Debug/System.Text.Encoding.Extensions.dll
/CommonWeb/bin/Debug/System.Text.Encoding.dll
/CommonWeb/bin/Debug/System.Text.Encoding.CodePages.dll
/CommonWeb/bin/Debug/System.Security.SecureString.dll
/CommonWeb/bin/Debug/System.Security.Principal.Windows.xml
/CommonWeb/bin/Debug/System.Security.Principal.Windows.dll
/CommonWeb/bin/Debug/System.Security.Principal.dll
/CommonWeb/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/CommonWeb/bin/Debug/System.Security.Cryptography.Primitives.dll
/CommonWeb/bin/Debug/System.Security.Cryptography.Encoding.dll
/CommonWeb/bin/Debug/System.Security.Cryptography.Csp.dll
/CommonWeb/bin/Debug/System.Security.Cryptography.Algorithms.dll
/CommonWeb/bin/Debug/System.Security.Claims.dll
/CommonWeb/bin/Debug/System.Security.AccessControl.xml
/CommonWeb/bin/Debug/System.Security.AccessControl.dll
/CommonWeb/bin/Debug/System.Runtime.Serialization.Xml.dll
/CommonWeb/bin/Debug/System.Runtime.Serialization.Primitives.dll
/CommonWeb/bin/Debug/System.Runtime.Serialization.Json.dll
/CommonWeb/bin/Debug/System.Runtime.Serialization.Formatters.dll
/CommonWeb/bin/Debug/System.Runtime.Numerics.dll
/CommonWeb/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/CommonWeb/bin/Debug/System.Runtime.InteropServices.dll
/CommonWeb/bin/Debug/System.Runtime.Handles.dll
/CommonWeb/bin/Debug/System.Runtime.Extensions.dll
/CommonWeb/bin/Debug/System.Runtime.dll
/CommonWeb/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/CommonWeb/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/CommonWeb/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/CommonWeb/bin/Debug/System.Resources.Writer.dll
/CommonWeb/bin/Debug/System.Resources.ResourceManager.dll
/CommonWeb/bin/Debug/System.Resources.Reader.dll
/CommonWeb/bin/Debug/System.Reflection.Primitives.dll
/CommonWeb/bin/Debug/System.Reflection.Extensions.dll
/CommonWeb/bin/Debug/System.Reflection.dll
/CommonWeb/bin/Debug/System.ObjectModel.dll
/CommonWeb/bin/Debug/System.Net.WebSockets.dll
/CommonWeb/bin/Debug/System.Net.WebSockets.Client.dll
/CommonWeb/bin/Debug/System.Net.WebHeaderCollection.dll
/CommonWeb/bin/Debug/System.Net.Sockets.dll
/CommonWeb/bin/Debug/System.Net.Security.dll
/CommonWeb/bin/Debug/System.Net.Requests.dll
/CommonWeb/bin/Debug/System.Net.Primitives.dll
/CommonWeb/bin/Debug/System.Net.Ping.dll
/CommonWeb/bin/Debug/System.Net.NetworkInformation.dll
/CommonWeb/bin/Debug/System.Net.NameResolution.dll
/CommonWeb/bin/Debug/System.Net.Http.dll
/CommonWeb/bin/Debug/System.Linq.Queryable.dll
/CommonWeb/bin/Debug/System.Linq.Parallel.dll
/CommonWeb/bin/Debug/System.Linq.Expressions.dll
/CommonWeb/bin/Debug/System.Linq.dll
/CommonWeb/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/CommonWeb/bin/Debug/System.IO.Pipes.dll
/CommonWeb/bin/Debug/System.IO.MemoryMappedFiles.dll
/CommonWeb/bin/Debug/System.IO.IsolatedStorage.dll
/CommonWeb/bin/Debug/System.IO.FileSystem.Watcher.dll
/CommonWeb/bin/Debug/System.IO.FileSystem.Primitives.dll
/CommonWeb/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/CommonWeb/bin/Debug/System.IO.FileSystem.dll
/CommonWeb/bin/Debug/System.IO.dll
/CommonWeb/bin/Debug/System.IO.Compression.ZipFile.dll
/CommonWeb/bin/Debug/System.IO.Compression.dll
/CommonWeb/bin/Debug/System.Globalization.Extensions.dll
/CommonWeb/bin/Debug/System.Globalization.dll
/CommonWeb/bin/Debug/System.Globalization.Calendars.dll
/CommonWeb/bin/Debug/System.Dynamic.Runtime.dll
/CommonWeb/bin/Debug/System.Drawing.Primitives.dll
/CommonWeb/bin/Debug/System.Diagnostics.Tracing.dll
/CommonWeb/bin/Debug/System.Diagnostics.TraceSource.dll
/CommonWeb/bin/Debug/System.Diagnostics.Tools.dll
/CommonWeb/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/CommonWeb/bin/Debug/System.Diagnostics.StackTrace.dll
/CommonWeb/bin/Debug/System.Diagnostics.Process.dll
/CommonWeb/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/CommonWeb/bin/Debug/System.Diagnostics.Debug.dll
/CommonWeb/bin/Debug/System.Diagnostics.Contracts.dll
/CommonWeb/bin/Debug/System.Data.Common.dll
/CommonWeb/bin/Debug/System.Console.dll
/CommonWeb/bin/Debug/System.ComponentModel.TypeConverter.dll
/CommonWeb/bin/Debug/System.ComponentModel.Primitives.dll
/CommonWeb/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/CommonWeb/bin/Debug/System.ComponentModel.dll
/CommonWeb/bin/Debug/System.Collections.Specialized.dll
/CommonWeb/bin/Debug/System.Collections.NonGeneric.dll
/CommonWeb/bin/Debug/System.Collections.dll
/CommonWeb/bin/Debug/System.Collections.Concurrent.dll
/CommonWeb/bin/Debug/System.AppContext.dll
/CommonWeb/bin/Debug/SeleniumExtras.WaitHelpers.dll
/CommonWeb/bin/Debug/netstandard.dll
/CommonWeb/bin/Debug/Microsoft.Win32.Registry.xml
/CommonWeb/bin/Debug/Microsoft.Win32.Registry.dll
/CommonWeb/bin/Debug/Microsoft.Win32.Primitives.dll
/CommonWeb/bin/Debug/ICSharpCode.SharpZipLib.xml
/CommonWeb/bin/Debug/ICSharpCode.SharpZipLib.pdb
/CommonWeb/bin/Debug/ICSharpCode.SharpZipLib.dll
/CommonWeb/bin/Debug/AngleSharp.xml
/CommonWeb/bin/Debug/AngleSharp.dll
/CommonWeb/obj/Debug
/DemoWebShop/obj/Debug
