################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoWebShop/v15
/CommonWeb
/DemoWebShop/obj/Debug
/packages
/DemoWebShop/bin/Debug/WebDriver.xml
/DemoWebShop/bin/Debug/WebDriver.Support.xml
/DemoWebShop/bin/Debug/WebDriver.Support.dll
/DemoWebShop/bin/Debug/WebDriver.dll
/DemoWebShop/bin/Debug/UITests.Web.DemoWebShop.pdb
/DemoWebShop/bin/Debug/UITests.Web.DemoWebShop.dll.config
/DemoWebShop/bin/Debug/UITests.Web.DemoWebShop.dll
/DemoWebShop/bin/Debug/UITests.Web.Common.pdb
/DemoWebShop/bin/Debug/UITests.Web.Common.dll
/DemoWebShop/bin/Debug/SeleniumExtras.WaitHelpers.dll
/DemoWebShop/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/DemoWebShop/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/DemoWebShop/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/DemoWebShop/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/DemoWebShop/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/DemoWebShop/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/DemoWebShop/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
